<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>DependenciasApp | Creación de Ofertas de Dependencias</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

<body>

  <header th:insert="fragments/barraCabecera :: menu-principal"></header>

  <main role="main">
    <hr>
    <div class="container">

      <div class="card">
        <h4 class="card-header"><strong>Datos de la Dependencia</strong></h4>
        <div class="card-body">

          <form th:action="@{/dependencias/guardar}" method="post" th:object="${dependencia}" enctype="multipart/form-data">

            <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				
            <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
				</div>
               
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Nombre de la dependencia" required="required">
                  </div>
                </div>
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="descripcion">Tipo</label>
                    <input type="text" class="form-control" th:field="*{tipo}" id="tipo" name="tipo" placeholder="Tipo de la dependencia" required="required">
                  </div> 
                </div>    
              </div>    
                 
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="salario">Localización</label>
                    <input type="text" class="form-control" th:field="*{localizacion}" name="localizacion" id="localizacion" placeholder="Localizacion." required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="archivoImagen">Imagen</label>
                    <input type="file" class="form-control-file" name="archivoImagen" id="archivoImagen">
                  </div>
                </div>
              </div> 

              <div class="row">                  
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fecha">Fecha de Creación</label>
                    <input type="text" class="form-control" th:field="*{fechaCreacion}" name="fechaCreacion" id="fechaCreacion" placeholder="Fecha de creacion" required="required">
                  </div>  
                </div>               
              </div> 
              <hr>              
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    
  </body>
</html>